* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--background-color);
}

:root {
    --primary-brand: #4D5AE5;
    --background-color: #FFFFFF;
    --dark: #2e2f42;
    --default-buttons-text: #4d5ae5;
    --default-buttons-background: #f4f4fd;
    --pressed-state: #404bbf;
    --text: #434455;
    --success: #31D0AA;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD; 
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--default-buttons-text);
    margin-right: 76px;
}

.section-one {
    background-color: var(--dark);
    padding: 188px 0;
    justify-content: space-between;
}

.first-header-main {
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color);
    max-width: 496px;
    justify-content: center;
    margin: 0 auto;
}

.main-button {
    background-color: var(--default-buttons-text);
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-color);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    word-wrap: break-word;
    padding: 16px 32px;
}

.main-button:hover {
    background-color: var(--pressed-state);
}

.main-button:focus {
    background-color: var(--pressed-state);
}

.main-button:focus {
    cursor: pointer;
}

.list-point {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
    margin-bottom: 8px;
}

.main-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.what-are-we {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.section-four {
    background-color: var(--light);
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-view {
    background-color: var(--background-color);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.link-menu {
    text-decoration: none;
    display: inline-block;
    padding: 24px 0;
}

.header_adr-one {
    font-style: normal;
    display: flex;
    gap: 40px;
    align-items: center;

}

.header_adr-one-list {
    gap: 40px;
    display: flex;
}

.spn-1 {
    color: var(--dark);
}

.spn-2 {
    color: var(--default-buttons-background);
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.list-buttons {
    justify-content: center;
    gap: 24px;
    display: flex;
}

.list-portfolio {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.main-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding: 24px 0 24px;
}

.main-studio:hover {
     color: var(--pressed-state);
}

.main-studio:focus {
color: var(--pressed-state);
}

.mail-to {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    text-align: match-parent;
}

.mail-to:hover { 
     color: var(--pressed-state);
}

.mail-to:focus {
     color: var(--pressed-state);
}

.section-two {
    padding: 120px 0;
}
.filter-button {
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--default-buttons-text);
    background-color: var(--light);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--accent);
}

.filter-button:hover {
    background-color: var(--pressed-state);
    color: var(--background-color);
    border: 1px solid transparent
}

.filter-button:focus {
   background-color: var(--pressed-state);
   color: var(--background-color);
   border: 1px solid transparent
}

.filter-button:focus {
        cursor: pointer;
    }

.portfolio-images-dsc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-images-additional-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);

}
.footer {
    background-color: var(--dark);
    padding: 100px 0;
}

.footer-paragraph {
    line-height: 1.5;
    color: var(--light);
    letter-spacing: 0.02em;
    max-width: 264px;
}

img {
    display: block;
}

.main-header {
    border-bottom: 1px solid var(--accent);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.navigation-main {
    display: flex;
    align-items: center;
}

.list-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section-two-list {
    flex-basis: calc((100% - 72px) / 4);
}

.section-three {
    padding-bottom: 120px;
}

.products-third-section {
    flex-basis: calc((100% - 3 * 16px) / 3);
}

.section-four {
    padding: 120px 0;
}

.employee-container {
    padding: 32px 0px;
}

.portfolio-header {
    border-bottom: 1px solid var(--accent);
}

.main-section {
    padding-top: 96px 0;
    padding-bottom: 120px 0;
}

.list-portfolio-two {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
}

.list-portfolio-two-details {
    width: calc((100% - 48px) / 3);
}

.app-container {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.portfolio-section-one {
    padding-top: 96px;
    padding-bottom: 120px;
}